// variable storage
$defaultColor: #333;

$sizeColor: #333;
$bgColor: #333;
$bgImg: url('~img/body-bg3.png') repeat; 
$btnImg1: url('~img/btn_bg1.jpg') repeat;;
$pcFont: 'microsoft yahei", "\5FAE\8F6F\96C5\9ED1';
$mobileFont: 'Helvetica Neue', Helvetica, STHeiTi, Microsoft YaHei, sans-serif, Microsoft JhengHei, Arial;
$browser: null;

$size-color1: #323232;
$size-color2: #646464;
$size-color3: #969696;
$border-color1: #333;
/****/
$comColor1: #A0522D;
$gameColor1: #411a0f;//背景
$gameColor2: #e4ba80;//数字背景
$gameColor3: #984b31;//边框
$gameColor4: #8c552f;//字
